# Configuration file for the CEGR Galaxy data pre-processing pipeline.

[defaults]

# This section contains default settings for command line parameters that
# can be overridden when they are passed to executed scripts.

ANALYSIS_PREP_LOG_FILE_DIR = /Users/gvk/work/git_workspace/cegr_galaxy/log
API_KEY = 948f9b9e37c1ff5d39d6ea1a6cf13e46

BCL2FASTQ_BINARY = /Users/gvk/work/bcl2fastq_binary
BCL2FASTQ_REPORT_DIR = /Users/gvk/work/bcl2fastq_reports
BLACKLIST_FILTER_LIBRARY_NAME = Blacklist Filter

GALAXY_BASE_URL = http://localhost:8763
GALAXY_HOME = /Users/gvk/work/git_workspace/galaxy

LIBRARY_PREP_DIR = /Users/gvk/work/git_workspace/cegr_galaxy/config/library_prep_dir

USES_VIRTUAL_ENV = true
PREP_VIRTUAL_ENV = /Users/gvk/work/git_workspace/cegr_galaxy/venv/bin/activate_this.py

RAW_DATA_DIR = /Users/gvk/work/git_workspace/raw_data_dir
RAW_DATA_LOGIN = nextseq@146.186.153.198
# The following cannot be a full path.
REMOTE_RUN_COMPLETE_FILE = RunCompletionStatus.xml
REMOTE_RUN_INFO_FILE = /home/nextseq/NSQData_PughLab/cegr_run_info.txt
# The following cannot be a full path.
REMOTE_WORKFLOW_CONFIG_DIR_NAME = cegr_config
RUN_INFO_FILE = /Users/gvk/work/git_workspace/cegr_galaxy/config/cegr_run_info.txt

SAMPLE_SHEET = /Users/gvk/work/git_workspace/cegr_galaxy/config/cegr_sample_sheet.csv

WORKFLOW_VERSION = 001

[workflow_invocation]

# This section contains settings for determining workflow invocation.  The
# decision is made based upon the dbkey setting within the workflow config
# XML file created by PEGR.  Current dbkey settings define 3 options:
# 1) Do not invoke a workflow
# 2) Invoke a workflow that includes blacklist filtering
# 3) Invoke a workflow that does not include blacklist filtering

NO_INVOCATION = phiX

[workflows]

# This section contains the current name (including the version string) of
# the workflow that will be selected for invocation.  Selection is currently
# based on the number of datasets in the data library folder.  If the folder
# contains a single dataset, the "single" workflow will be selected, while
# the "paired" workflow will be selected if the folder contains 2 datasets.

SINGLE = single_001
PAIRED = paired_001

[len_files]

# This sections contains the full path to the Galaxy len file for each dbkey.
# This is necessary because len files do not seem to be stored in a standard
# way.  This section is hopefully needed only temporarily.  It is used for
# updating the dbkey parameter settings for tools in the workflow being invoked.
# PEGR should be handling this in the future.

dm3 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/shared/ucsc/chrom/dm3.len
dm5 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/dm5/len/dm5.len
ec2 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/ec2/len/ec2.len
hg18 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/shared/ucsc/chrom/hg18.len
hg19 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/shared/ucsc/chrom/hg19.len
hg38 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/shared/ucsc/chrom/hg38.len
mm9 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/shared/ucsc/chrom/mm9.len
mm10 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/shared/ucsc/chrom/mm10.len
NC003552 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/NC003552/len/NC003552.len
pa01 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/pa01/len/pa01.len
pf25 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/pf25/len/pf25.len
sacCer3_cegr = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/sacCer3_cegr/len
sp8 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/sp8/len/sp8.len
# TODO: tair10.len is not available in this Galaxy instance
# tair10 = /nfs/brubeck.bx.psu.edu/scratch5/galaxy-pugh/galaxy/tool-data/
